*{
  margin : 0px;
  padding : 0px;
 /* background-image: url(background-image.jpeg);
  background-size: cover;*/
}
.links{
  text-decoration : none;
}
.footer{
  margin-bottom : 0px;
  width : 100vw;
  align-items: center;
}
.navbar{
  display : flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navbar:hover{
  
}
.navbar:active{
  
}